@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

html, 
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f7f3f3;
  color: #333;
}

.link-container {
  display: flex;
  gap: 20px;
}

header a  {
  text-decoration: none;
  color: #ecf0f1;
  transition: color 0.3s ease;
}

a  {
  text-decoration: none;
  color: #2c3e50;
  transition: color 0.3s ease;
}

a:hover {
  color: #000;
}
.categories:hover{
  color:#0ed8d8
}
.deleteButton{
  margin-right: 15px;
}
.categoryList{
  list-style: none;
  
}
header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #2c3e50;
  color: #fff;
  border-bottom: 2px solid #34495e;
  border-radius: 10px;

}

header h1 {
  font-size: 2rem;
  font-weight: 700;
}

header div {
  display: flex;
  align-items: center;
}

header input {
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #bdc3c7;
  border-radius: 4px;
}

header button {
  padding: 8px 12px;
  background-color: #34495e;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

header button:hover {
  background-color: #1abc9c;
}

aside {
  width: 250px;
  padding: 20px;
  background-color: #ecf0f1;
  border-right: 1px solid #bdc3c7;
}

aside h3 {
  font-size: 1.2rem;
  font-weight: 500;
  color: #2c3e50;
}

aside ul {
  padding: 0;
  list-style-type: none;
}

aside ul li {
  margin: 10px 0;
}

footer {
  padding: 20px;
  background-color: #2c3e50;
  color: #fff;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
}

footer a {
  color: #ecf0f1;
  font-size: 0.9rem;
}

footer a:hover {
  color: #bdc3c7;
}
